<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Gift Givers</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
<<<<<<< HEAD
    #logout {
      text-decoration: underline;
=======
    .skill-container {
      display: flex;
      align-items: flex-start;
    }
    .skill {
      width: 40%; /* Adjust width as needed */
    }
    .aside-content {
      width: 60%; /* Adjust width as needed */
      align-self: flex-start;
>>>>>>> 27b14025c12c8710a8f18ed06e8bf028644e7857
    }
  </style>
</head>
<body>
  <header>
    <h1>Career Gift Givers</h1>
    <nav>
      {{#if logged}}
        <a href="#" id="logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}

      {{#if logged }}
        <a href="/api/skill" id="admin_skill" class="btn-no-style">Admin Skill</a>
      {{/if}}
      {{#if logged }}
        <a href="/api/tutor" id="admin_tutor" class="btn-no-style">Admin Tutor</a>
      {{/if}}
      
      <a href="/tutors">Tutors</a>
      <a href="/">Home</a> <!-- Reorder the links -->
    </nav>
  </header>
  <main>
    <div class="skill-container">
      <aside class="aside-content">
        <h2>What do you want to learn today?</h2>
      </aside>
      <div class="skill">
        <!-- Add paragraph here -->
        <p style="margin-left: 15px;">
          The Career Gift Givers community connects students and anyone eager to learn about computer programming with retired software professionals who have extensive experience and are accomplished engineers with enthusiasm to teach, mentor, and inspire.
        </p>
        {{{body}}}
      </div>
    </div>
  </main>
  {{#if logged}}
    <script src="/js/logout.js"></script>
  {{/if}}

  <script>
    if (localStorage.getItem("email") !== "admin@swabimobile.com") {
      console.log("IS NOT ADMIN");
      if (document.getElementById("admin_skill") != null && document.getElementById("admin_tutor") != null) {
        console.log("IS HIDING LINKs");
        document.getElementById("admin_skill").style.display = "none";
        document.getElementById("admin_tutor").style.display = "none";
      }
    }
  </script>
</body>
</html>
