<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Gift Givers</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    #logout {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <h1>Career Gift Givers</h1>
    <h3>The Career Gift Givers community connects students and anyone eager to learn about computer programming with retired software professionals who have extensive experience and are accomplished engineers with enthusiasm to teach, mentor, and inspire.</h3>
    <br> 
    <h4>To book a tutor please email the tutor directly. Please be kind and tip our tutors!</h4>
    <nav>
      {{#if logged}}
        <a href="#" id="logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}

      {{#if logged }}
        <a href="/api/skill" id="admin_skill" class="btn-no-style">Admin Skill</a>
      {{/if}}
      {{#if logged }}
        <a href="/api/tutor" id="admin_tutor" class="btn-no-style">Admin Tutor</a>
      {{/if}}
      
      <a href="/tutors">Tutors</a>
      <a href="/">Home</a> <!-- Reorder the links -->
    </nav>
  </header>
  <main>
    <aside>
      <h2>What do you want to learn today?</h2>
    </aside>
    <div class="skill">
      {{{body}}}
    </div>
  </main>
  {{#if logged}}
    <script src="/js/logout.js"></script>
  {{/if}}

  <script>
    if (localStorage.getItem("email") !== "admin@swabimobile.com") {
      console.log("IS NOT ADMIN");
      if (document.getElementById("admin_skill") != null && document.getElementById("admin_tutor") != null) {
        console.log("IS HIDING LINKs");
        document.getElementById("admin_skill").style.display = "none";
        document.getElementById("admin_tutor").style.display = "none";
      }
    }
  </script>
</body>
</html>
