<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Gift Givers</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Career Gift Givers</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/tutors">Tutors</a>
      <span>&nbsp;&nbsp;</span>
      {{#if logged}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <aside>
      <h2>What do you want to learn today?</h2>
    </aside>
    <div class="skill">
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
