<!-- Render the details of a single skill -->
<div class="skill">
  <h2>{{skill.name}}</h2>
  <!-- Add more HTML to display other details of the skill Look at server.js, had to move this into views and out of partials. look at home-routes.js too. -->
</div>
